:root {
  box-sizing: border-box;
  font-size: calc(16px);

  @include tablets {
    font-size: calc(15px);
  }

  @include phones {
    font-size: calc(14px);
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body {
  font-size: 16px;
  line-height: 1.42;
  -webkit-font-smoothing: antialised;
  -moz-osx-font-smoothing: grayscale;
  @include noto;
  font-weight: 400;
  color: $black;
}

// .body--locked {
//   overflow: hidden;
// }


// a:link {
//   color: $link-color;
// }

// a:visited {
//   color: $link-color-visited;
// }

// a:hover {
//   color: $link-color-hover;
// }

// a:active {
//   color: $link-color-active;
// }


ul {
  margin: 0;
  padding: 0;
}

ul>li {
  list-style: none;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

.btn {
  color: $white;
  background-color: $brown;
  border-radius: rem(10px);
  padding: rem(19px) rem(97px);
  font-size: rem(18px);
  text-transform: uppercase;
  border: 1px solid transparent;
  &:focus {
     border-color: $brown-dark;
  }
  &:hover {
    background-color: $brown-hover;
  }
}


h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 400;
  line-height: 1;
}

h1 {
  font-size: rem(36px);
}

h2 {
  font-size: rem(36px);
}

h3 {
  font-size: rem(24px);
  font-weight: 600;
}

h4 {
  font-size: rem(22px);
  font-weight: 500;
}

p {
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
}


.wrapper {
  overflow: hidden;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.wrapper__content {
  flex: 1;
}

.container {
  width: 95%;
  max-width: 1430px;
  margin: 0 auto;
}

