.collection {
  padding: rem(62px) rem(78px) rem(52px) rem(59px);
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 0px 19px 1px rgba(0, 0, 0, 0.1);
  position: relative;
  display: flex;
  flex-direction: column;
}
.collection__top {
  flex: 1;
  margin-bottom: rem(40px);
}

.collection__bottom--flex {
  display: flex;
}
.collection__bottom-left {
  flex: 1;
}
.collection__bottom-right {
  flex: 2;
}
.collection__bottom-info {
  padding: rem(30px) rem(122px);
  background: #fff9f1;
  border-radius: 6px;
}


.collection__bottom--flex .collection__bottom--flex .form__appearance {
  border-color: rgba(14, 15, 14, 1);
}

.collection__bottom--flex .form__appearance:before {
  background-image: url(images/check-dark.svg);
}


.collection__desc {
  font-size: rem(24px);
  max-width: rem(817px);
  margin-bottom: rem(51px);
}
.collection__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 rem(-14px);
}

.collection__row+.collection__row {
  margin-top: 70px;
}
.collection__col {
  flex: 1;
  margin: 0 rem(14px);
}
.collection__title {
  color: $quiz-color;
  margin-bottom: rem(23px);
}

.collection__title--centered {
  text-align: center;
}

.collection__subtitle {
  text-align: center;
  max-width: rem(863px);
  margin: 0 auto rem(35px);
}

.collection__elem+.collection__elem {
  margin-top: rem(14px);
}



.collection__elem--large {
  padding-left: rem(40px);
  padding-right: 20%;
}

.collection__elem--small {
  padding-left: rem(40px);
  padding-right: 40%;
}

.collection__elem--main {
  padding-right: 40%;
}

.collection__elem--high {
  display: flex;
}
.collection__elem--high+.collection__elem--high {
  margin-top: rem(30px);
}
.collection__block {
  flex: 1;
}

.collection__block+.collection__block {
  margin-left: rem(24px);
}

.collection__block-title {
  margin-bottom: rem(13px);
}

input.collection__input.form__input,
select.collection__select {
  font-size: rem(18px);
  font-weight: 400;
  border-radius: rem(6px);
  background-color: #efefef;
}






.collection__btn {
  border: 1.5px solid #C9A88F;
  color:$black;
  background: #fff;
  border-radius: 5px;
  &:hover {
    color: #fff;
    border: 1.5px solid transparent;
  }
}

.collection__btn--bottom {
  margin-bottom: rem(15px);
}
