.header {
  padding: rem(35px) 0 rem(50px);
  background-color: #fff;

  @include tablets {
      padding: rem(13px) 0 rem(44px);
  }
}

.header__col {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include tablets {
    flex-direction: column;
  }

}

.header__row {
  display: flex;
  align-items: center;

  &:nth-child(1) {
    justify-content: flex-start;
    
    // flex: 1;

    @include tablets {
      padding-bottom: rem(14px);
      border-bottom: 1px solid #ddd;
      justify-content: space-between;
      width: 100%;
    }

    @include phones {
      justify-content: space-between;
    }
  }

  &:nth-child(2) {
    justify-content: flex-end;
    flex-wrap: wrap;
    // flex: 1;

    @include tablets {
      padding-top: rem(14px);
      justify-content: space-between;
      width: 100%;
      flex-direction: row-reverse;
      flex-wrap: nowrap;
    }
    @include phones {
      justify-content: space-between;
      background: linear-gradient(127.44deg, #FFF9F1 99.97%, rgba(255, 249, 241, 0) 102.12%);
    }
  }
}

.header__menu {
  margin-left: rem(70px);

  @include phones {
    margin-left: 0;
  }

}

.header__worktime {
  // margin-right: rem(50px);

  @include tablets {
    // margin-right: 0;
  }
}

.header__phone {
  margin-left: rem(60px);

  @include tablets {
    margin-left: 0;
  }
}


// @media (max-width: $breakpoint-desktop-lg) {
//   .header__row {
//     &:nth-child(1) {
//       flex: 1.2;
//     }
//   }
// }