.prices {
  padding: rem(100px) 0 rem(152px);
}

.prices__title {
  text-align: center;
  margin-bottom: rem(11px);
}

.prices__desc {
  text-align: center;
  max-width: 60%;
  margin: 0 auto rem(42px);
}
