.questions {
  padding: rem(100px) 0;
  background-color: #77B9BF;
  background-image: url('images/questions-bg.svg');
  color: $white;

  @include tablets {
    padding: rem(75px) 0 rem(65px);
  }

  @include phones {
    padding: rem(75px) 0 rem(75px);
  }
}
.questions__title {
  @include teno;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 5px;

  @include phones {
    margin-bottom: 10px;
  }
}
.question__desc {
  font-size: rem(18px);
  max-width: rem(630px);
  text-align: center;
  margin: 0 auto;
  margin-bottom: rem(20px);

  @include tablets {
    margin-bottom: rem(27px);
  }

  @include tablets {
    font-size: rem(16px);
    margin-bottom: rem(16px);
  }
}
.question__form {
  max-width: rem(800px);
  margin: 0 auto;

  @include tablets {
    max-width: rem(525px);
  }
}