.radio {
  display: block;
}
.radio + .radio {
  margin-top: 23px;
}
.radio___elem {
  display: none;
}
.radio__aperiance {
  display: inline-block;
  width: rem(18px);
  height: rem(18px);
  background: #efefef;
  border: 0.5px solid #2c3a6b;
  border-radius: 50%;
  margin-right: rem(14px);
  position: relative;
}

.radio__aperiance:before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 0px;
  height: 0px;
  background-color: $radio-color;
}

.radio___elem:checked~.radio__aperiance:before {
  width: rem(9px);
  height: rem(9px);
  transition: all .2s linear;
}