.services {
  background-color: #fff;
  padding: rem(100px) 0;
}
.services__title {
  text-align: center;
  margin-bottom: rem(48px);
}
.services__list {
  display: flex;
  flex-wrap: wrap;
}
.services__item {
  background-color: #fff;
  box-shadow: 0px 0px 19px 1px rgba(0, 0, 0, 0.1);
  padding: rem(55px) rem(40px);
  border-radius: 10px;
  display: flex;
  flex: 1 1 100%;
}

.services__item--small {
  flex: 0 1 rem(695px);
}

.services__item--small+.services__item--small {
  margin-left: rem(40px);
}

.services__item + .services__item {
  margin-top: rem(40px);
}
.services__col {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.services__col--lower{
  justify-content: flex-end;
}



.services__col + .services__col {
  margin-left: rem(110px);
}

.sevices__preview {
  margin-bottom: rem(15px);
}
.services__preview-title {
  @include noto(semibold);
  text-transform: uppercase;
  color: $brown;
  margin-bottom: rem(19px);
}
.services__preview-desc {
  font-size: rem(18px);
}
.services__preview-desc--bold {
  @include noto(medium);
}
.services__info p {
  margin-bottom: rem(21px);
}

.services__info p:last-child {
  margin-bottom: 0;

}

.services__info p.large {
  font-size: rem(18px);
  margin-bottom: rem(21px);
}

.services__info h4 {
  margin-bottom: rem(16px);
}

.services__info h5 {
  margin-bottom: rem(21px);
}

.services__info ul {
  margin-bottom: rem(21px);
}

.services__info ul:last-child {
  margin-bottom: 0;
}

.services__info ul li{
  position: relative;
  padding-left: rem(33px);
}
.services__info ul li::before {
  position: absolute;
  background-color: #7bbdc2;
  content: '';
  width: 18px;
  height: 18px;
  border: 5px solid #efefef;
  border-radius: 50%;
  left: 0;
  top: 10%;
}

.services__info ul li + li {
  margin-top: rem(17px);
}

.services__accent {
  font-size: rem(18px);
  padding: rem(55px) rem(65px);
  background-color: $brown-light;
  border-radius: 5px;
}
.services__btn {
  display: none;
}