.success {
  display: none;
  background-color: #fff;
  border-radius: 10px;
  padding: rem(60px) rem(80px) rem(55px) rem(80px);
  max-width: rem(589px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  @include phones {
    padding: rem(30px) rem(30px);
  }
  
}
.success__title {
  color: $quiz-color;
  @include noto(semibold);
  font-size: rem(36px);
  margin-bottom: rem(12px);
  @include tablets {
    font-size: rem(30px);
  }

  @include phones {
    font-size: rem(24px);
  }
}
.success__desc {
  font-size: rem(24px);
  margin-bottom: rem(25px);
  @include tablets {
    font-size: rem(18px);
  }

  @include phones {
    font-size: rem(16px);
  }
}
.success__check {
  background-color: $turquoise;
  width: rem(95px);
  height: rem(95px);
  border-radius: 50%;
  background-image: url('images/success.png');
  background-position: center;
  background-repeat: no-repeat;
  @include tablets {
    width: rem(70px);
    height: rem(70px);
    background-size: rem(30px);
  }

  @include phones {
    width: rem(50px);
    height: rem(50px);
    background-size: rem(25px);
  }
}