.welcome {
  background-color: #fff9f1;
  box-shadow: 0px 0px 19px 1px rgba(0,0,0,0.1);
  border-radius: 10px;
  padding: rem(56px) rem(37px);
  max-width: 1090px;
  margin: 0 auto;
  position: relative;
  @include tablets {
    max-width: rem(588px);
    margin: 0;
    margin-left: auto;
    padding: rem(24px) rem(24px) rem(75px) rem(26px);
  }

  @include phones {
    max-width: rem(588px);
    margin: 0;
    margin-left: auto;
    padding: rem(21px) rem(0px) rem(69px) rem(17px);
  }
}
.welcome__title {
  color: $quiz-color;
  max-width: 70%;
  margin: 0 auto rem(34px);

  @include tablets {
    font-size: rem(20px);
    max-width: 100%;
    margin-bottom: 18px;
  }
  @include phones {
    font-size: rem(16px);
  }
}
.welcome__desc {
  font-size: rem(18px);
  max-width: rem(525px);
  margin-left: auto;

  @include tablets {
    font-size: rem(16px);
    max-width: rem(431px);
  }

  @include phones {
    max-width: 65%;
  }
}
.welcome__pic {
  position: absolute;
  width: 55%;
  bottom: rem(-60px);
  left: calc(50% - 64%);

  @include tablets {
    width: 76%;
    bottom: rem(-44px);
    left: calc(50% - 86%);
  }

  @include phones {
    bottom: rem(-12px);
    left: calc(50% - 50%);
  }
}
