.worktime {
  font-size: rem(18px);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;

  @include phones {
    font-size: rem(14px);
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

}

.worktime__title {
  font-weight: 500;
  margin-right: rem(10px);
}