$black: rgba(14, 15, 14, 1);
$white: rgba(244, 244, 244, 1);
$light: rgba(249, 249, 249, 1);
$brown:   rgba(201, 168, 143, 1);
$brown-hover: #b3957e;
$brown-light: rgba(251, 247, 241, 1);
$turquoise: rgba(113, 177, 183, 1);
$turquoise-dark: rgba(96, 148, 153, 1);
$gray: rgba(180, 180, 180, 1);
$brown-dark: #6b6b6b;
$quiz-color: #ab917e;

$z-hamburger: 2;
$z-menu: 1;

$z-contacts-info: 1;

// $z-modal-back: 300;
// $z-modal-body: 400;

@import "./layout/fonts.scss";
@import "./layout/mixins.scss";
@import "./layout/base.scss";

@import "./blocks/*.scss";